# macOS
.DS_Store

# R / RStudio
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/

# Projeto
dados/
cache_rds/
resultados/*.csv
resultados/*.tsv
resultados/*.rds
saida_dados/
*.xlsx
*.xls

# renv (se usar depois)
renv/library/
renv/staging/
